<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/members" method="POST" class="mb-4">
    <div class="form-group">
        <label for="FirstName">FirstName</label>
        <input type="text" name="firstName" id="firstName" class="form-control">
    </div>
    <div class="form-group">
        <label for="LastName">LastName</label>
        <input type="text" name="lastName" id="lastName" class="form-control">
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input type="number" name="age" id="age" class="form-control">
    </div>
    <input type="submit" value="Add Member" class="btn btn-primary btn-block">
</form>

<h4>Members</h4>
<ul class="list-group">
    {{#each members}}
        <li class="list-group-item">{{this.firstName}}, {{this.lastName}}, {{this.age}}</li>
    {{/each}}
</ul>