/*
* Static: Default. Render the element in order they're written in document.
* Relative: Allow add properties like top, bottom, etc.
* Absolute: target any position inside a relative element.
* Fixed: Allows a element to be in the same position after scrolling, etc.
* Initial: sets to default.
* Inherit: sets to parent container value.
*/

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
}

/*Parent must be relative */
.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top: 400px;
}